.bar{
    width: 100%;
    background-color:silver;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.title{
    position: absolute;
    width: 100%;
    pointer-events: none;
}

#coding{
    opacity: 0;
    pointer-events: none;
}

#jalapino, #onion, #tomato{
    position: relative;
    text-align: center;
    top: 10vh;
}

#ingredients{
    position: absolute;
    float: left;  
    z-index: 1;
}

.ingredients{
    transition: .5 ease;
    opacity: 1;
    text-align: center;
    pointer-events: none;
}

/* #jalapino:hover, #onion:hover, #tomato:hover{
    background-color: black;
} */

#coding ul{
    list-style-type:none;
}
.skill{
    text-align: center;
    background-color: green;
    color: white;
    width: 25%;
    float: left;
}

.porcent{
    color: white;
    text-align: right;
    padding-right: 1vw;
}

#c{
    width: 80%;
    background-color: seagreen;
}

#php{
    width: 70%;
    background-color: seagreen;
}

#java{
    width: 60%;
    background-color: seagreen;
}

#js{
    width: 70%;
    background-color: seagreen;
}

#jq{
    width: 50%;
    background-color: seagreen;
}

#html{
    width: 90%;
    background-color: seagreen;
}

#css{
    width: 90%;
    background-color: seagreen;
}

#db{
    width: 70%;
    background-color: seagreen;
}

#mongo{
    width: 40%;
    background-color: seagreen;
}


/* Experience */
#experience{
    position: relative;
    top:45vh;
    opacity: 0;
    pointer-events: none;
}

#experience ul{
    list-style-type:none;
}

.card{
    background-color: transparent;
    width: 100%;
    height: 12vh;
    perspective: 1000px;
    font-size: 2vh;
}

.card-info{
    background-color: rgb(177, 115, 23);
    color: white;
    z-index: 1;
}





/* UX styles */
.item{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    background-color: firebrick;
    color: white;
}

.item:hover{
    transform:scale(1.1);
}

#ux{
    position: absolute;
    width: 100%;
    left: 40vw;
    opacity: 0;
    pointer-events: none;
}

#ux ul{
    list-style-type:none;
}

.closeEvent{
    text-align: right;
    cursor: pointer;
    visibility: hidden;
    color: dimgrey;
}