body{
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.general {
    position: relative;
    max-height: 100vh;
    width: 100%;
}

.general::-webkit-scrollbar {
    background-color: transparent;
}

.verticalPosition{
    text-align: center;
}

.containerPresentation {
    /* border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px; */
    position: relative;
    width: 98%;
    margin: 0.5%;
    height: 97vh;
    float: left;
}


/* .ingredients:hover{
    opacity: 0.5;
} */


#onion a{
    color: rgb(192, 127, 29);
}
#containerPicture{
    max-width: inherit;
    position: absolute;
    bottom: 5vw;
    top:-75vh;
}

#bowl{
    position: absolute;
    bottom: -38vh;
    width: 100%;
    text-align: center;
    z-index: -1;
}



#textPresentation{
    width: 60%;
    font-size: 8.5vw;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.progress-container{
    width: 100%;
    height: 1vh;
    background: #ccc;
}

.progress-bar{
    height: 1vh;
    background: blue;
    width: 0%;

}


div ul{
    padding-inline-start: 0;
}