body{
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.general {
    position: relative;
    max-height: 100vh;
    width: 100%;
}

.general::-webkit-scrollbar {
    background-color: transparent;
}

.verticalPosition{
    text-align: center;
}

.containerPresentation {
    /* border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 10px; */
    position: relative;
    width: 98%;
    margin: 0.5%;
    height: 97vh;
    float: left;
}

#ingredients{
    position: absolute;
    float: left;  
    z-index: 1;
}

.ingredients{
    transition: .5 ease;
    opacity: 1;
    text-align: center;
    cursor: pointer;
}
/* .ingredients:hover{
    opacity: 0.5;
} */

#jalapino, #onion, #tomato{
    position: relative;
    text-align: center;
    top: 10vh;
}
#onion a{
    color: rgb(192, 127, 29);
}
#containerPicture{
    max-width: inherit;
    position: absolute;
}

#bowl{
    position: absolute;
    bottom: -50vh;
    width: 100%;
    text-align: center;
}



#textPresentation{
    width: 60%;
    float: right;
    font-size: 8vw;
    position: absolute;
    margin-left: 35%;
}

.progress-container{
    width: 100%;
    height: 1vh;
    background: #ccc;
}

.progress-bar{
    height: 1vh;
    background: blue;
    width: 0%;

}


div ul{
    padding-inline-start: 0;
}